body{
  background: #890D3B;
  font-family: "Press Start 2P", monospace;
  font-smooth: never ;
  height:98vh;
}





#controls {
  color: #868686;
  font-size: 13px;
  line-height: 13px;
  margin: 10px;
  text-align: center;
}

#controls > span {
  margin-left: 20px;
}
#controls > span > span {
  border: 2px solid #868686;
  border-radius: 5px;
  padding: 7px;
  margin-right: 10px;
  display: inline-block;
}
#controls > span:last-child > span {
  transform: rotate(90deg);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh; /* Ajustez la hauteur du conteneur selon vos besoins */
}

#myCanvas {
  width: 2000px; /* Largeur du canvas */
  height: auto; /* Hauteur du canvas */
}
s